.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button {
    margin-top: 1rem; /* Esto agrega una separación de 10px entre el botón y el campo del formulario */
}